body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  margin: 10px;
}

h2 {
  color: #4caf50;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  margin: 20px 0;
  position: relative;
  padding-left: 25px;
}

h3::before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #ffd700;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  section {
    margin: 10px 0;
  }
}
